<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://drive.google.com/u/0/uc?id=1cMQMC5GbfpcKfsvr1-MAxj6bVyk7cSzU&export=download&confirm=t&uuid=3ac1d2c7-1b22-46eb-8864-11cd95e84be2&at=ANzk5s7ojC_ngNsVH9QxNvnMBO9j:1681244240167</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.mx.na-at.prototypes.Vector</string>
				<key>bundle-version</key>
				<string>1.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Vector fad_movil 2.1.0</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>

